/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.sticker-border {
    -webkit-filter: drop-shadow(3px 3px 0 white)
            drop-shadow(-3px 3px 0 white)
            drop-shadow(3px -3px 0 white)
            drop-shadow(-3px -3px 0 white)
            drop-shadow(4px 4px 4px dimgrey);

    filter: drop-shadow(3px 3px 0 white)
            drop-shadow(-3px 3px 0 white)
            drop-shadow(3px -3px 0 white)
            drop-shadow(-3px -3px 0 white)
            drop-shadow(4px 4px 4px dimgrey);
    }

@font-face {
    font-family: 'Handwriting';
    src: url('@/assets/fonts/handwriting.ttf');
    font-weight: normal;
    font-style: normal;
}

.v-application {
    font-family: "Handwriting", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase !important;
}

.text-body-1 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 2rem !important;
    line-height: 2.8rem !important;
    font-style: light !important;  
    text-transform: uppercase !important;  
}

.text-body-2 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-style: light !important;   
    text-transform: uppercase !important; 
}

.v-input__control input {
    font-size: 3rem; /* Adjust the font size as needed */
    padding-top: 40px;
}

.v-btn__content {
    font-size: 2.5rem; /* Adjust the font size as needed */
    padding-top: 10px;
}

.v-input__control textarea {
    font-size: 2.5rem; /* Adjust the font size as needed */
    padding-top: 40px !important;
}

.v-input__control .v-label {
    font-size: 2.5rem; /* Adjust the font size as needed */
}

.v-input__control .v-field-label--floating {
    font-size: 2rem; /* Adjust the font size as needed */
}

.text-h1 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 5rem !important;
    line-height: 5.5rem !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}

.text-h2 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 3rem !important;
    line-height: 3.5rem !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}

.text-h3 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}

.text-h4 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}

.text-h5 {
    font-family: "Handwriting", serif !important;
    font-optical-sizing: auto !important;
    font-size: 2rem !important;
    line-height: 2rem !important;
    font-style: bold !important;
    text-transform: uppercase !important;
}

a {
    color: #1075bc;
    text-decoration: none;
    text-transform: uppercase !important;
}

// https://vuetifyjs.com/en/features/display-and-platform/#breakpoints-and-thresholds
// tablets and lower
@media (max-width: 959px) {
    .text-body-1 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
    
    .text-body-2 {
        font-size: 1.2rem !important;
        line-height: 1.7rem !important;
    }
    
    .text-h1 {
        font-size: 3rem !important;
        line-height: 3.5rem !important;
    }
    
    .text-h2 {
        font-size: 2.2rem !important;
        line-height: 2.7rem !important;
    }
    
    .text-h3 {
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }
}